<%- include("./partials/head.ejs") %>
<body>
    <h1>Login</h1>

    <form action="/login" method="POST">

        <input type="email" name="nameEmail" placeholder="email">
        <input type="password" name="namePassword" placeholder="password">
        
        Submit - <input type="submit">
    </form> 

</body>